{% extends "main_template.html" %}

{% block title_content %}
<title>Edit compound</title>
{% load static %}
<script type="text/javascript" language="javascript" src="{% static '/js/jsme/jsme.nocache.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static '/js/getBySmiles.js' %}"></script>
<script>
        //this function will be called after the JavaScriptApplet code has been loaded.
        function jsmeOnLoad() {
            jsmeApplet = new JSApplet.JSME("jsme_container", "640px", "480px");
            jsmeApplet.setNotifyStructuralChangeJSfunction("add_jme_file");
            jsmeApplet.readMolecule(document.getElementById("id_structure").value);
        }

        function add_jme_file() {
            var data = jsmeApplet.jmeFile();
            document.getElementById("id_structure").value = data;
        }

</script>
{% endblock %}


{% block content %}

<h1 class="col-sm-offset-1">Add New Compound</h1>

<div style="width:60%">
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="" id="compound_form" method="post" class="form-horizontal">
        {% csrf_token %}

        {% for hidden in form.hidden_fields%}
        {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields%}
        <div class="row form-group ">
            {{ field.errors }}
            <label class="col-sm-2 control-label">
                {{ field.help_text }}
            </label>
            <div class="col-sm-10">
                {{ field }}
            </div>
        </div>
        {% endfor %}

        <div id="jsme_container" class="col-sm-offset-5"></div>

        <div class="row col-sm-offset-5">
            <button type="button" onclick="findBySmiles()" id="find-by-smiles-button" value="find-by-smiles"
                    class="btn btn-primary">Find in PubChem
            </button>
            <button class="btn btn-success">Save</button>
        </div>
    </form>
</div>
{% endblock %}
