{% extends "main_template.html" %}

{% block title_content %}
    <title>Locations</title>
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#table').DataTable();
        });
    </script>

{% endblock %}


{% block content %}
    <div class="content">
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% if reagentlocations_list %} {% for reagentlocation in reagentlocations_list %}
                <tr>
                    <td>{{ reagentlocation.id }}</td>
                    <td>{{ reagentlocation.descr }}</td>
                </tr>
            {% endfor %}
            {% else %}
            <p>No reagent locations was found.</p>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
