{% extends "main_template.html" %}

{% block title_content %}
{% load static %}
<title>Reagents</title>
<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script>
        $(document).ready(function() {
            $('#table').DataTable();
        });

</script>
<script type="text/javascript" language="javascript" src="{% static '/js/jsme/jsme.nocache.js' %}"></script>
{% endblock %}


{% block content %}
<div>
    <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="table">
        <thead>
        <tr>
            <th>id</th>
            <th>Compound</th>
            <th>UIPAC Name</th>
            <th>Molecular Formula</th>
            <th>Structure</th>
            <th>Location</th>
            <th>Receipt Date</th>
            <th>Storage Life</th>
            <th>Amount</th>
            <th>Units</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        {% if reagents_list %} {% for reagent in reagents_list %}
        <tr>
            <td>{{ reagent.id }}</td>
            <td>{{ reagent.compound.shortName }}</td>
            <td>{{ reagent.compound.iupacName }}</td>
            <td>{{ reagent.compound.molecularFormula }}</td>
            <td>
                <div code="JME.class" name="JME" archive="JME.jar" width="120" height="80" id="JME">
                    <param name="options" value="depict,useopenchemlib"/>
                    <param name="jme" value="{{ reagent.compound.structure }}"/>
                </div>
            </td>
            <td>{{ reagent.reagentLocation.descr }}</td>
            <td>{{ reagent.receiptDate }}</td>
            <td>{{ reagent.storageLife }}</td>
            <td>{{ reagent.amount }}</td>
            <td>{{ reagent.measurementUnits }}</td>
            <td>{{ reagent.comments }}</td>
        </tr>
        {% endfor %} {% else %}
        <p>No compound was found.</p>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
